body {
  font-family: Arial;
  background:#0f172a;
  color:white;
  text-align:center;
}

.container {
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap:20px;
  padding:20px;
}

.box {
  background:#1e293b;
  padding:15px;
  border-radius:12px;
  box-shadow:0 0 15px #000;
}

pre {
  background:black;
  padding:10px;
  height:200px;
  overflow:auto;
  color:#00ff99;
}

.btn {
  display:block;
  background:#22c55e;
  padding:10px;
  color:black;
  text-decoration:none;
  border-radius:8px;
  margin-top:10px;
}

.download-all {
  background:#38bdf8;
  padding:12px;
  color:black;
  border-radius:10px;
  text-decoration:none;
  display:inline-block;
  margin:20px;
}
